<app-child [customer]="cusedit" (updateCustomer)="onSubmit($event)"></app-child>
<mat-form-field appearance="outline">
  <mat-label>
    Search Data
  </mat-label>
  <input matInput type="text" (input)="searchcus(search.value)" key #search placeholder="Search">
</mat-form-field>
<br>
<!-- <button mat-button (click)="searchcus(search.value)">Search</button> -->

<h2>Customer List</h2>
<table>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Email</th>
    <th>Contact</th>
    <th>Edit</th>
  </tr>
  <tr *ngFor="let custom of customers">
    <td>{{ custom.id }}</td>
    <td>{{ custom.name }}</td>
    <td>{{ custom.email }}</td>
    <td>{{custom.phone}}</td>
    <td><button (click)="editCustomer(custom)">Edit</button></td>
  </tr>
</table>