<h2>Edit Customer</h2>
<form [formGroup]="editForm" novalidate>
  <div class="col">
    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>name:
        </mat-label>
        <input type="name" #name matInput formControlName="name"  placeholder="xyz">
        <mat-error *ngIf="editForm.controls['name'].hasError('required')">
          name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </div>
    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Email:</mat-label>
        <input type="email" #email matInput formControlName="email" >
        <mat-error *ngIf="editForm.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Phone</mat-label>
        <input type="phone" #phone matInput formControlName="phone">
        <mat-error *ngIf="editForm.controls['phone'].hasError('required')">
          phone is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- <button type="submit" mat-raised-button (click)="onSubmit()">Save</button> -->
  <button type="submit" mat-raised-button (click)="updateCustomer.emit(editForm.value)">Save</button>
</form>